<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
    />
</head>
<body>
<div class="background-container">
    <div class="sign-in-page-container">
        <div class="layer-1-container">
            <img src="hospital-building.png" alt="" class="logo-img" />
            <h2 class="layer-1-heading">Hospital Management</h2>
            <p class="layer-1-content">
                We prioritize health of the people for a better living of the
                society
            </p>
        </div>
        <div class="layer-2-container">
            <div class="layer-2-margin-container">
                <h1 class="create-account">Create Account</h1>

                <form action="/dashboard" th:object="${signup}" method="post">

                    <div class="input-div">
                        <label for="Name">Name</label><br />
                        <input
                                type="text" id="Name" th:field="*{name}"
                                placeholder="Enter your name"
                                class="input-field"
                                required
                        /><br />
                        <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="input-div">
                        <label for="email">E-mail</label><br />
                        <input
                                type="email" id="email" th:field="*{email}"
                                placeholder="Enter your Email"
                                class="input-field"
                                required
                        /><br />
                        <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="input-div">
                        <label for="password">Password</label><br />
                        <input
                                type="password" id="password"  th:field="*{password}"
                                placeholder="Enter a password"
                                class="input-field"
                                required
                        /><br />
                    </div>
                    <div class="input-div">
                        <input type="radio" id="doctor" th:field="*{role}" value="Common User" />
                        <label for="doctor">Common User</label>
                        <input type="radio" id="nurse" th:field="*{role}" value="Journalist" />
                        <label for="nurse">Journalist</label><br />
                    </div>

                    <div class="input-div">
                        <button type="submit" id="submit-button">Sign Up</button>
                        <p class="final-text">
                            Already have an account? <a th:href="@{/login}"> Log in</a>
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
